conda.enabled = true

profiles {
    local {
        process.conda = "/Users/peter.naylor/miniconda3/envs/isrin"
        executor.queueSize = 1
    }
    Neptune {
        process.conda = "/home/pnaylor/IceSheetReconstruction/.conda"
        executor.queueSize = 1
        workDir = '/Data/pnaylor/work_icesheet/'
    }
}
env {
    PYTHONPATH="$PWD:$PWD/MyPINNs"
}
