conda.enabled = true

profiles {
    local {
        process.conda = "/Users/peter.naylor/mambaforge/envs/isrin"
        executor.queueSize = 1
    }
    Neptune {
        process.conda = "/home/pnaylor/IceSheetReconstruction/.conda"
        executor.queueSize = 1
        workDir = '/Data/pnaylor/work_icesheet/'
    }
    Jupyter {
        executor.queueSize = 100
        executor.queue = 'cpu'
        process.executor = 'pbs'
        process.conda = "/lustre/home/u01020001/mambaforge/envs/isrin"
    }
}
env {
    PYTHONPATH="$PWD:$PWD/INR4torch"
}
